<h5 class='jimu-widget-note'>${nls.distRepTitle}</h5>
<p class='jimu-widget' data-dojo-attach-point='cityCouncilCity'>${nls.city}</p>
<div class='jimu-widget dist' data-dojo-attach-point='cityCouncilDistrict'>${nls.dist}</div>
<div class='jimu-widget dist'><button id='cityCouncilToggle' class='toggle-link' data-dojo-attach-point='cityCouncilToggle'>${nls.showBoundary}</button></div>
<p class='jimu-widget' data-dojo-attach-point='cityCouncilName'>${nls.name}</p>
<p class='jimu-widget' data-dojo-attach-point='cityCouncilTerm'>${nls.term}</a></p>
<p class='jimu-widget'>${nls.moreInfo}<a id='cityCouncilLink' data-dojo-attach-point='cityCouncilLink' target='_blank'>${nls.clickHere}</a></p>