.panel-item {
  margin-bottom: 10px !important;
}

.tab-header {
  font-size: 14px;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.tab-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  height: 100%;
  line-height: 30px;
  padding: 0 5px;
  text-align: center;
  width: 33%;
}

.tab-item.selected {
  border-bottom: 2px solid #898989;
  color: #000;
  font-weight: bold;
}

.tab-view {
  display: none;
}

.tab-view.selected {
  display: block;
}

.hidden {
  display: none;
}

h2 {
  margin-top: 0px;
}

select {
  display: inline-block;
  height: 40px;
  padding-left: 10px;  /* Create some space between text and the boundary of input box*/
  width: 100%;
}

.input-container {
  border: 1px solid rgb(169, 169, 169);
  display: inline-block;
  width: 100%;
}

input {
  border-style: none;
}

.input-box {
  display: inline-block;
  height: 38px;
  padding-left: 10px;  /* Create some space between text and the boundary of input box*/
}

.tile-selection {
  background-color: rgb(203, 233, 249);
  border: 1px solid rgb(50, 73, 87);
  display: inline-block;
  margin-left: 5px;
  padding-right: 5px;
}

.tile-selection > p {
  display: inline-block;
  font-family: Arial;
  font-size: 13px;
  height: 14px;
  padding-left: 4px;
}

.x {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  padding: 0;
  width: 14px;
}

.horizontal-separator {
  text-align: center;
}

#use_address {
  width: 150px;
}

#use_location {
  float: right;
  width: 150px;
}

.draw-item {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#submit_btn {
  width: 100%;
}

hr {
  margin-bottom: 14px;
}

.progress-bar-container {
  margin-top: 10px;
  width: 100%;
}